<?xml version="1.0" encoding="utf-8"?>
<configuration>



  <appSettings>

    <add key="HostAddress" value="rupi662022@gmail.com" />
    <add key="ClientInfo" value="C:\Users\USER\Documents\GitHub\Project-5\PROJECT_5\ClientCredentials\client_secret.json"/>
    <add key="CredentialsInfo" value="C:\Users\USER\Documents\GitHub\Project-5\PROJECT_5\CredentialsInfo\"/>
    <add key="GmailAttach" value="C:\Users\USER\Documents\GitHub\Project-5\PROJECT_5\GmailAttach\"/>

  </appSettings>

</configuration>
